langgraph==1.0.7
langgraph-swarm==0.0.15
langchain==0.3.0
langchain-ollama==1.0.1
langchain-community==0.3.0
langchain-neo4j
pydantic==2.10.3
fastapi==0.115.0
uvicorn==0.32.0
neo4j==6.1.0
unsloth
mergekit
trl==0.27.1
transformers==5.1.0
datasets
gitpython==3.1.43
docker==7.1.0
python-dotenv==1.0.1
websockets
